<!DOCTYPE html>
<html>
  <style>
  body {
  background-image: url("images.jpg");
  background-repeat: no-repeat;
  background-position: center;
}  
    </style>
    <title>
        WELCOME
    </title>
    

<head>
<style>
a:link, a:visited {
  background-color: blue;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 50%;
  left:50%;
}

a:hover, a:active {
  background-color: blueviolet;
  color : whitesmoke;
  position: absolute;
}

</style>
</head>
<body>
    <h1 style ="text-align: center">HOME</h1>
<a href = "homapge.html"><strong>Click here</strong></a>

</body>

</html>
